security:
    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        # AREA DEV
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        # PUBLIC API : register + login
        public_api:
            pattern: ^/api/auth
            stateless: true
            security: false

        # PROTECTED API (JWT)
        api:
            pattern: ^/api
            stateless: true
            provider: app_user_provider
            custom_authenticators:
                - App\Security\JWTAuthenticator

        # FRONTEND SESSION LOGIN
        main:
            lazy: true
            provider: app_user_provider

            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true

            logout:
                path: app_logout
                target: /login

    access_control:
        - { path: ^/api/auth/register, roles: PUBLIC_ACCESS }
        - { path: ^/api/auth/login, roles: PUBLIC_ACCESS }
        - { path: ^/register, roles: PUBLIC_ACCESS }
        - { path: ^/login, roles: PUBLIC_ACCESS }

        # Protected API
        - { path: ^/api, roles: ROLE_USER }
